<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>display_message_bar</string>
		<key>Title</key>
		<string>Display Message Bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://www.example.com/search?*   /[^.]+\.example\.com\//</string>
		<key>Key</key>
		<string>exclude_patterns</string>
		<key>Title</key>
		<string>Exclude Patterns</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disable</string>
	</dict>
</array>
</plist>
