<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.autopagerize.autppagerizeforsafari</string>
			<key>CFBundleShortVersionString</key>
			<string>0.2.8</string>
			<key>CFBundleVersion</key>
			<string>28</string>
			<key>Developer Identifier</key>
			<string>AQSRKCRBVM</string>
			<key>URL</key>
			<string>http://autopagerize.net/files/autopagerize_for_safari.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
